<!DOCTYPE html>
<html>
<head>
    <title>Add Author</title>
</head>
<body>
    <h1>Add Author</h1>

    <form method="post">
        <input type="text" name="first_name" placeholder="First Name"><br>
        <input type="text" name="last_name" placeholder="Last Name"><br>
        <input type="date" name="birthdate"><br>

        <textarea name="biography" placeholder="Biography"></textarea><br>

        <button type="submit">Add Author</button>
    </form>

    <a href="/">Back</a>
</body>
</html>