<form method="post">
    <input type="text" name="isbn" placeholder="ISBN" required><br>
    <input type="text" name="title" placeholder="Title" required><br>
    <input type="date" name="date_pub"><br>
    <input type="text" name="publisher" placeholder="Publisher"><br>
    <input type="text" name="genre" placeholder="Genre"><br>

    <textarea name="description" placeholder="Description"></textarea><br>

    <label>Select Authors:</label><br>
    <select name="author_ids" multiple required>
        {% for author in authors %}
            <option value="{{ author['Author_ID'] }}">
                {{ author['First_Name'] }} {{ author['Last_Name'] }} (ID: {{ author['Author_ID'] }})
            </option>
        {% endfor %}
    </select><br><br>

    <button type="submit">Add Book</button>
</form>