<!DOCTYPE html>
<html>
<head>
    <title>Library</title>
</head>
<body>
    <h1>Library Books</h1>

    <a href="/add">Add New Book</a>
    <a href="/add_author">Add Author</a>

    <ul>
        {% for book in books %}
            <li>
                <strong>{{ book['Title'] }}</strong> ({{ book['ISBN'] }})<br>
                {{ book['Genre'] }} | {{ book['Publisher'] }}<br>
                {{ book['Date_Pub'] }}<br>
                {{ book['Description'] }}
            </li>
            <hr>
        {% endfor %}
    </ul>

    <a href="/tables">View All Tables</a>

</body>
</html>