<!DOCTYPE html>
<html>
<head>
    <title>Librarian Dashboard</title>
</head>
<body>
    <h1>Librarian Dashboard</h1>

    <a href="/">Home</a><br><br>

    <h2>Book Management</h2>
    <a href="/add">Add New Book</a><br>
    <a href="/add_author">Add Author</a><br>
    <a href="/delete_copy">Delete Copies</a><br>
    <a href="/tables">View All Tables</a><br><br>

    <h2>Scan Book (Barcode Lookup)</h2>

    <form action="/scan_copy" method="POST">
        <label>Barcode:</label><br>
        <input type="text" name="barcode" autofocus required><br><br>
        <button type="submit">Scan</button>
    </form>


    <h2>Member Management</h2>
    <a href="/add_member">New Member Registration</a><br>
    <a href="/member-management">Manage Existing Members</a><br><br>

    <h2>Books</h2>
    <ul>
        {% for book in books %}
            <li>
                <strong>{{ book['Title'] }}</strong> ({{ book['ISBN'] }})<br>
                {{ book['Genre'] }} | {{ book['Publisher'] }}<br>
                {{ book['Date_Pub'] }}<br>
                {{ book['Description'] }}
            </li>
            <hr>
        {% endfor %}
    </ul>


</body>
</html>