<h1>Browse Books</h1>

<a href="/">Home</a><br><br>

<!-- SEARCH BAR -->
<form method="POST" action="/member">
    <input type="text" name="search" placeholder="Search title, author, ISBN, genre">
    <button type="submit">Search</button>
</form>

<br>

<ul>
    {% for book in books %}
        <li>
            <strong>{{ book['Title'] }}</strong><br>
            Author(s): {{ book['Authors'] }}<br>
            ISBN: {{ book['ISBN'] }}<br>
            Genre: {{ book['Genre'] }}<br>
            Publisher: {{ book['Publisher'] }}<br>

            Available Copies: {{ book['Available_Copies'] }}
            {% if book['Available_Copies'] == 0 %}
                <span style="color:red;">Not Available</span>
            {% endif %}

            <form action="/place_hold/{{ book['ISBN'] }}" method="POST">
                <input type="text" name="card_number" placeholder="Your card number" required>
                <button type="submit">Place Hold</button>
            </form>
        </li>
        <hr>
    {% endfor %}
</ul>